#divHeader {
  height: 10vh;
  color: antiquewhite;
  /* background-color: saddlebrown; */
  background-color: #1f2a40;
}

#divMap {
  height: 80vh;
  background-color: grey;
}

#divFooter {
  height: 10vh;
  color: antiquewhite;
  /* background-color: saddlebrown; */
  background-color: #1f2a40;
}

#divCross {
  z-index: 2000;
  color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -11px;
  margin-left: -11px;
}

#divPlus {
  z-index: 3000;
  color: chocolate;
  position: absolute;
  /* top: 97%; */
  /* left: 5%; */
  bottom: 5px;
  left: 25px;
  /* margin-top: -11px; */
  /* margin-left: -11px; */
}

.btn {
  margin-top: 2px;
}

.btn-footer {
  margin-top: 20%;
}

.btn-no-top-margin {
  margin-top: 0;
}

.setting-label {
  margin-top: 12%;
  margin-bottom: 12%;
}

.div-no-padding {
  padding: 0;
}

.table-header {
  background-color: wheat;
}

.stream-controls {
  display: none;
  font-size: 28px;
  padding-left: 10px;
  padding-right: 10px;
}

#divAverage {
  display: none;
  color: red;
}

#mode {
  margin-top: -2px;
}
#btnSync {
  padding-left: 0;
}

#syncCount {
  vertical-align: top;
}

/* Modal Content */
.modal {
  z-index: 2001;
  height: 90%;
  width: 100%;
  display: none;
  overflow-y: auto;
  background-color: #f3f4f6;
  color: saddlebrown;
}

/* add Modal Content */
.modalAdd {
  z-index: 9999;
  /* height: 30%; */
  width: 40%;
  display: none;
  overflow-y: auto;
  background-color: #f3f4f6;
  color: saddlebrown;
  position: absolute;
  bottom: 110px;
  left: 25px;
  border-radius: 5px;
  border: 1px solid saddlebrown;
}

.sub-header {
  color: antiquewhite;
  /* background-color: saddlebrown; */
  background-color: #1f2a40;
  padding: 3px;
}

/*    Slider */

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: saddlebrown;
  height: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  top: -1px;
  z-index: 1;
  width: 35px;
  height: 35px;

  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #aaa),
    color-stop(50%, saddlebrown),
    color-stop(100%, #aaa)
  );
}

.paddingTop {
  padding-top: 20px;
}
